name: flutter_video_looper
description: A native Flutter plugin for looping video playback with Picture-in-Picture support.
version: 0.0.1

environment:
  sdk: ^3.10.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.voquill.flutter_video_looper
        pluginClass: FlutterVideoLooperPlugin
      ios:
        pluginClass: FlutterVideoLooperPlugin
