name: Test Desktop Unit

on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: Desktop Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci --include=optional

      - name: Build dependencies
        run: npm run build -- --filter=desktop^...

      - name: Run desktop unit tests
        run: npm run test:unit --workspace=desktop
